<%- include('../partials/header') %>

<h2>Enter a New Ticket</h2>
<form action="/flights/<%= flightId %>/tickets" method="POST">
  <label>Seat:
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
  </label><br>
  <label>Price:
    <input type="number" name="price" min="0">
  </label><br>
  <button type="submit">Add Ticket</button>
</form>

<%- include('../partials/footer') %>