<%- include("../partials/header") %>

<form action="/skills" method="POST">
    <input type="text" name="skill">
    <input type="text" name="knowledge">
    <button type="submit">SUBMIT</button>
</form>

<%- include("../partials/footer") %>